<div id="agendaCharts" ng-controller="agendaChartsCtrl">
  <h1>Charts by Agenda</h1>

  <select name="agendas" id="agendas" ng-model="agendas.selectedAgenda">

    <option value="{{agenda.id}}" ng-repeat="agenda in agendas.availableAgendas">{{agenda.title}}</option>

  </select>

  <br>

  <!-- <div>
    <p ng-show="meetingIDForAgenda">MeetingID: {{meetingIDForAgenda}}</p>
    <p ng-show="typeOfAgenda">Agenda Type: {{typeOfAgenda}}</p>
    <p ng-show="agendaStatus">Agenda Status: {{agendaStatus}}</p>
  </div> -->
  <chart-directive agenda-id="{{agendas.selectedAgenda}}">
    <div id="container_{{agendas.selectedAgenda}}" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
  </chart-directive>

</div>
