<div id="meetingCharts" ng-controller="meetingChartsCtrl">

  <h1>Charts by Meeting!</h1>

  <select name="meeting" id="meetings" ng-model="meetings.selectedMeeting" ng-change="getChartData()">

    <option value="{{meeting.id}}" ng-repeat="meeting in meetings.availableMeetings">{{meeting.title}}</option>

  </select>

  <br>


  <div ng-repeat="agenda in agendas">
    <chart-directive agenda-id="{{agenda.id}}">
      <div id="container_{{agenda.id}}" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
    </chart-directive>
  </div>

  <p></p>
</div>
