<div id="meetingCharts" ng-controller="meetingChartsCtrl">

  <h1>Charts by Meeting</h1>

  <select name="meeting" id="meetings" ng-model="meeting.selectedMeeting" ng-change="getChartData()">

    <option value="{{meeting.id}}" ng-repeat="meeting in meetings.availableMeetings">{{meeting.title}}</option>

  </select>

  <br>

  <!-- <div>
    <p ng-show="meetingIDForAgenda">MeetingID: {{meetingIDForAgenda}}</p>
    <p ng-show="typeOfAgenda">Agenda Type: {{typeOfAgenda}}</p>
    <p ng-show="agendaStatus">Agenda Status: {{agendaStatus}}</p>
  </div> -->

  <p></p>
</div>
