<div id="officeCharts" ng-controller="officeChartsCtrl">
  <h1>Charts by Office</h1>

  <select name="office" id="offices" ng-model="offices.selectedOffice" ng-change="getChartData()">

    <option value="{{office.id}}" ng-repeat="office in offices.availableOffices">{{office.title}}</option>

  </select>

  <br>


  <div ng-repeat="agenda in agendas">
    <chart-directive agenda-id="{{agenda.id}}">
      <div id="container_{{agenda.id}}" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
    </chart-directive>
  </div>

  <p></p>

</div>
